@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


* {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin: auto;
  padding: auto;
}

.dark {
  position: absolute;
  margin-top:  680px;
  margin-left: -380px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.bg {
  background-color: black;
  padding-top: 40px;
  padding-bottom: 80px;
  
}
.Manufacturers-section {
  background-color: white;
  width: 590px;
  height: 640px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  margin-top: 50px;
}


.Manufacturer-content {
  padding-left: 0px;
}

.Manufacturer-content h1 {
  height: 24px;
  margin-left: 26px;
  font-size: 42px;
  line-height: 57px;
  font-weight: 400;
  color: #00338D;
  padding-top: 30px;
}


.form-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 70px;
}

.manufacturer-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
  row-gap: 30px;
  padding-bottom: 30px;
}





.Manufacturer-content input {
  width: 230px;
  height: 36px;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Manufacturer-content select {
  width: 230px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}









