@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


* {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin: auto;
  padding: auto;
  color: #989898;
}


.request-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 544px;
  height: 640px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}

.request-section h1 {
  margin-top: 36px;
  margin-left: 26px;
  font-size: 42px;
  line-height: 57px;
  font-weight: 400;
  color: #00338D;
}

.request-section p {
  margin-bottom: 30px;
  margin-left: 26px;
  color: black;
}

.request-content {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 26px;
  
  
}


.form input[type="file"] {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding: 0;
  left: 0;
}

.add-photo-btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  background-color: #00338D;
  color: #fff;
  display: block;
  width: 107px;
  height: 36px;
  font-size: 18px;
  line-height: 30px;
  float: left;
  margin-bottom: 40px;
  margin-left: 20px;
  border-radius: 5px;
}

.form input[type="text"] {
  float: left;
  width: 358px;
  height: 36px;
  border: 1px solid #D1D3D6;
  border-radius: 3px;
  margin-bottom: 40px;
}

.form textarea {
  resize: none;
  border: 1px solid #D1D3D6;
  border-radius: 3px;
  margin-bottom: 30px;
  
}

.request-content .btn-proceed {
  width: 130px;
  height: 40px;
  background-color: #00338D;
  margin-left: 200px;
  border-radius: 5px;
    
}

.request-content a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.02em;
}


.swal-modal {
  background-color: white;
  border: white;
  border-radius: 5px;
}

.swal-button {
  color: #00338D;
  background-color: white;
}