@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


* {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin: auto;
  padding: auto;
  color: #989898;
  box-sizing: border-box;
}


.request-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 544px;
  height: 640px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}

.request-section h1 {
  margin-top: 36px;
  margin-left: 26px;
  font-size: 42px;
  line-height: 57px;
  font-weight: 400;
  color: #00338D;
  letter-spacing: -0.02em;
}

.request-section p {
  margin-bottom: 30px;
  margin-left: 26px;
  color: black;
}

.request-content {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 26px;
}


form div{
  height: 60px;
  margin: 20px auto;
  padding: 5px;
}

form div label {
  display: block;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #D1D3D6;
  width: 480px;
  line-height: 25px;
  position: relative;
}

form div label:before {
  position: absolute;
  content: "Browse";
  right: -2px;
  top: -2px;
  width: 103px;
  height: 50px;
  line-height: 50px;
  background: #00338D;
  text-align: center;
  color: white;
  border-radius: 5px;
}



.swal-modal {
  background-color: white;
  border: white;
  border-radius: 5px;
}

.swal-button {
  color: #00338D;
  background-color: white;
}