@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: auto;
    padding: auto;
}

.side-nav {
  background-color: #0C233C;
  height: 700px;
  width: 72px;
  margin-left: 0;
}
.side-nav-content {
  display: flex;
  flex-direction: column;
  padding-top: 106px;
  /* padding-left: 10px; */
  gap: 30px;
}

.side-nav img {
  background: url(../assets/edit.png);
  width: 32px;
  height: 32px;
}

.side-nav h4 {
  font-size: 10px;
  font-weight: 400;
  color: white;
  line-height: 140%;
  opacity: 0.25;
}

.side-nav i {
  opacity: 0.25;
}

.side-nav-content .icon {
  text-decoration: none;
}


.side-nav-content .icon-active h4 {
  opacity: 1;
  text-decoration: none;
}

.auction .btn-logout {
  margin-bottom: 20px;
}

.auction-container {
  display: flex;
  background-color: #FAFAFA;
}
.auction-section {
  background-color: white;
  width: 602px;
  height: 429px;
  margin-top: 88px;
  margin-left: 0px;
  border: 1px solid #E5E5E5;
  border-radius: 6px;
}

.auction-content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 30px;
  grid-row-gap: 0px;
  padding-bottom: 20px;
}

.auction-table {
  margin-top: 23px;
  margin-left: 10px;
}

.auction-table th,
.auction-table td {
  padding: px;
  text-align: left;
}

.auction-table th {
  border-bottom: 1px solid #E5E5E5;
  transform: rotate(-0.21deg);
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.33em;
  color: #666666;
  padding-bottom: 8px;
  margin-right: 90px;
}

.auction-table td {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  color: #333333;
  padding-bottom: 20px;
  padding-right: 90px;
  padding-top: 20px;
}


.auction-section .search-content {
  display: grid;
  grid-template-columns: repeat(2,  1fr);
}

.auction-section .search-content h1 {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  /* margin-left: 460px; */
}

.auction-section .search-bar {
  display: grid;
  margin-left: 0px;
}

.auction-section .search-bar h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  color: #333333;
  margin-right: 36px;
}

.auction-section .search-bar form {
  display: flex;
}
.auction-section .search-bar input{
  box-sizing: border-box;
  width: 300px;
  height: 30px;
  border: 1px solid #d1d3d6;
  border-left: white;
  border-right: white;
}

.auction-section .search-bar button {
  background-color: white;
  padding-top: 5px;
  height: 30px;
  border: 1px solid #d1d3d6;
}

.auction-section .search-bar .search{
  border-right-color:white ;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.auction-section .search-bar .filter{
  border-left-color:white ;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.auction-section .search-bar button i {
  color: #666666;
  font-size: 20px;
}