@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: auto;
    padding: auto;

}

.title-bar{
  display: flex;
  flex-direction: row;
  height: 91px;
  background-color: white;
  margin-top: 90px;
}

.title {
  display: flex;
  margin-left: 10px;
}
.title-bar h1 {
  margin-left: 10px;
  color: #00338D;
  font-weight: 700;
}

.title-bar a {
  margin-left: 0;
  margin-right: 0;
}

.title-bar .fa-arrow-left {
  color: #00338D;
  margin-top: 0;
}

.search-container {
  margin-right: 44px;
}
.search-container form {
  display: flex;
}
.search-container input{
  box-sizing: border-box;
  width: 300px;
  height: 30px;
  border: 1px solid #d1d3d6;
  border-left: white;
  border-right: white;
}

.search-container button {
  background-color: white;
  padding-top: 5px;
  height: 30px;
  border: 1px solid #d1d3d6;
}

.search-container .search{
  border-right-color:white ;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-container .filter{
  border-left-color:white ;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-container button i {
  color: #666666;
  font-size: 20px;
}

.publication-section {
  background-color: #EBEEF1;
}

.publication-section h2 {
  padding-top: 10px;
  margin-left: 63px;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}

.publication-content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-top: 20px;
  margin-bottom: 20px;
}

.publication-content img {
  width: 242px;
  height: 140px;
  background: linear-gradient(116.59deg, #1E49E2 0%, #7213EA 100%);
  border-radius: 12px;
}

.publication-content .content-1,
.publication-content .content-2,
.publication-content .content-3,
.publication-content .content-4 {
  background-color: white;
  padding: 10px;
  width: 267px;
  height: 327px;
}

.publication-content h3 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  color: black;
}

.publication-content p {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right:0 ;
}



