@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: auto;
    padding: auto;
}

.theCards {
    display: flex;
    flex-direction: row;
    margin: 24px;
    padding: 40px;
    align-items: center;
    justify-content: center;
    row-gap: 40px;

}