.nextSection {
    display: flex;
    width: 100%;
    height: max-content;
    margin: 0px 0px 0px 0px;
    padding: 24px;
    justify-content: center;
    align-content: center;
}

.nextContent {
    display: flex;
    flex-direction: column;
    background-color: #00338D;
    color: #fff;
    justify-content: center;
    align-content: center;
    width: 1000px;
    height: max-content;
    padding: 32px;
}

.nextContent h1 {
    font-size: 32px;
}

.nextContent p {
    font-size: 24px;
}