@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: auto;
    padding: auto;

}

.nextSection {
    /* display: flex; */
    width: 100%;
    height: max-content;
    margin: 0px 0px 0px 0px;
    padding: 24px;
    justify-content: center;
    align-content: center;
}

.nextContent {
    /* display: flex; */
    flex-direction: column;
    background: linear-gradient(98.56deg, #00338D 50.54%, rgba(0, 51, 141, 0.925684) 54.26%, rgba(0, 51, 141, 0.0260417) 99.27%, rgba(0, 51, 141, 0.0260416) 100.56%, rgba(0, 51, 141, 0) 100.57%);
    color: white;
    justify-content: center;
    align-content: center;
    width: 1098px;
    height: 462px;
    padding: 32px;
}

.nextContent h1 {
    font-size: 32px;
    color: white;
}

.nextContent p {
    font-size: 24px;
    color: white;
}