@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: auto;
    padding: auto;
}

.nextSection {
    display: flex;
    width: 100%;
    height: max-content;
    margin: 0px 0px 0px 0px;
    padding: 24px;
    justify-content: center;
    align-content: center;
}

.nextContent {
    display: flex;
    flex-direction: column;
    background-color: #00338D;
    color: #fff;
    justify-content: center;
    align-content: center;
    width: 1000px;
    height: max-content;
    padding: 32px;
}

.nextContent h1 {
    font-size: 32px;
}

.nextContent p {
    font-size: 24px;
}