@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* * {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: auto;
    padding: auto;
} */

.pageheader {
    /* display: flex;
    flex-direction: row; */
    margin: none;
    padding: 40px;
    row-gap: 40px;
    background: white;

}

.pageheader h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #00338D;
}