.theCard {
    background-image: url('./Rectangle 82.png');
    background-size: cover;
    width: 480px;
    height: 320px;
    position: relative;
    align-items: flex-end;
    display: flex;
    overflow: hidden;
}

.theCard img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;

}

.cardContent {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: #fff;

}

.cardContent h4 {
    font-size: 24px;
    color: #333;
    margin-bottom: 4px;
}

.cardContent h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 4px;
}