@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: auto;
    padding: auto;
}

.whySection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 669px;
    position: relative;
    align-items: center;
    overflow: hidden;
    align-items: end;
    padding: 24px;

}



.whySection img {
    width: 100%;
    height: fit-content;
    z-index: -3;
    position: absolute;
}

.whyContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    border-radius: 100%;
    width: max-content;
    height: max-content;
    position: absolute;
    top: -10px;
    bottom: 150px;
    right: -140px;
    padding-top: 150px;
    padding-left: 80px;
    padding-bottom: 90px;
    padding-right: 170px;
    
}

.whyContent h1 {
    font-size: 36px;
    font-weight: bold;
    color: #00338D;
    margin-right: 4px;
    margin: 32px;
}

.whyContent p {
    font-size: 24px;
    font-weight: normal;
    color: #00338D;
    text-align: right;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: justify;

}